* {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    color: rgb(0, 255, 136);
    font-size: 30px;
}

nav {
    font-size: 20px;
}

table {
    width: 750px;
    margin: 0 auto;
    line-height: 150%;
    font-size: 20px;
}

a {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: rgb(0, 153, 255);
}
